<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.babenkovladimir.composite_application_x">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".application.App"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:label="Non Blocking Algorithms"
      android:name=".concurrent.nonblocking_algorithm.NonblockingAlgorithmActivity"/>
    <activity
      android:label="Completable Future"
      android:name=".concurrent.compleatable_future.CompletableFutureActivity"/>
    <activity
      android:label="Callable"
      android:name=".concurrent.callable.CallableActivity"/>
    <activity
      android:label="Executers"
      android:name=".concurrent.executers.ExecutersActivity"/>
    <activity
      android:label="Java concurent"
      android:name=".concurrent.JavaConcurent"/>
    <activity
      android:label="Threads"
      android:name=".concurrent.threads.ThreadsActivity"/>
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="Sutviving Presenter Kotlin"
      android:name=".mvp.mvp_keeping_presenters_alive_kotlin.SurvivingPresenterActivity"/>
    <activity
      android:label="Surviving Presenter Java"
      android:name=".mvp.mvp_keeping_presenters_alive_java.IntroActivity"/>
    <activity
      android:label="MVP Navigating"
      android:name=".mvp.MvpNavigatingActivity"/>
    <activity
      android:label="EarthQuakerExample"
      android:name=".rx.Rx_MVP_Retrofit_EarthQuake_Example.view.EarthQuakerActivity"/>
    <activity
      android:label="Rx Navigating"
      android:name=".rx.RxNavigatingActivity"/>
    <activity
      android:label="Moxy X"
      android:name=".mvp.moxy_x_implementation.moxyx.MoxyxActivityKotlin"/>
    <activity
      android:label="Rx Repository Pattern"
      android:name=".rx.rx_repository.view.RxRepositoryActivity"/>
    <activity
      android:label="ViewPager"
      android:name=".abdroid_base_materials.viewPager.ViewPagerActivity"/>
    <activity
      android:label="Android Base"
      android:name=".abdroid_base_materials.AndroidBaseActivity"/>
    <activity
      android:label="Handler"
      android:name=".abdroid_base_materials.handler.HandlerActivity"/>
    <activity
      android:label="Sqlite AddEditActivity"
      android:name=".abdroid_base_materials.sqlite.AddEditNoteActivity"/>
    <activity
      android:label="Sqlite tutorial"
      android:name=".abdroid_base_materials.sqlite.SqliteActivity"/>
    <activity
      android:label="Reative Form Validation"
      android:name=".rx.rx_form_validation.ReactiveFormValidationActivity"/>
  </application>

</manifest>