<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.babenkovladimir.composite_application_x">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- For devives pre android Oreo -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".application.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".mvi_mosby.MviActivity"></activity>
    <activity android:name=".rx.rx_mobile_developer.RxMobileDeveloperAcivity" />
    <activity android:name=".rx.rx_from_book.filtering.RxFromBookFilteringActivity" />
    <activity android:name=".rx.rx_from_book.RxFromBookDispatchingActivity" />
    <activity android:name=".services.ServicesDispatchingActivity" />
    <activity android:name=".rx.rx_from_book.create.RxFromBookActivityCreate" />
    <activity android:name=".abdroid_base_materials.recycler_view_diff_utils.RecyclerViewDiffUtilsActivity" />
    <activity android:name=".kotlin.parcelize.ParcelizeActivity" />
    <activity android:name=".kotlin.KotlinNaviagationActivity" />
    <activity
      android:name=".rx.rxjava_github.RxJavaGitHubActivity"
      android:label="RxJava GitHub" />
    <activity
      android:name=".rx.rxjava2_for_android_apps_RxBinding_and_RxLifecycle.RxBindingActivity"
      android:label="RxBinding" />
    <activity android:name=".rx.retrofit_rxjava2_kotlin.RetrofitRxJavaKotlinActivity" />
    <activity
      android:name=".udemy.services.job_intent_service.JobIntentServiceActivity"
      android:label="Job Intent Service" />
    <activity
      android:name=".concurrent.nonblocking_algorithm.NonblockingAlgorithmActivity"
      android:label="Non Blocking Algorithms" />
    <activity
      android:name=".concurrent.compleatable_future.CompletableFutureActivity"
      android:label="Completable Future" />
    <activity
      android:name=".concurrent.callable.CallableActivity"
      android:label="Callable" /> <!-- Bind job service for post android OREO -->
    <activity
      android:name=".concurrent.executers.ExecutersActivity"
      android:label="Executers" />
    <activity
      android:name=".concurrent.JavaConcurent"
      android:label="Java concurent" />
    <activity
      android:name=".concurrent.threads.ThreadsActivity"
      android:label="Threads" />
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".mvp.mvp_keeping_presenters_alive_kotlin.SurvivingPresenterActivity"
      android:label="Surviving Presenter Kotlin" />
    <activity
      android:name=".mvp.mvp_keeping_presenters_alive_java.IntroActivity"
      android:label="Surviving Presenter Java" />
    <activity
      android:name=".mvp.MvpNavigatingActivity"
      android:label="MVP Navigating" />
    <activity
      android:name=".rx.Rx_MVP_Retrofit_EarthQuake_Example.view.EarthQuakerActivity"
      android:label="EarthQuakerExample" />
    <activity
      android:name=".rx.RxNavigatingActivity"
      android:label="Rx Navigating" />
    <activity
      android:name=".mvp.moxy_x_implementation.moxyx.MoxyxActivityKotlin"
      android:label="Moxy X" />
    <activity
      android:name=".rx.rx_repository.view.RxRepositoryActivity"
      android:label="Rx Repository Pattern" />
    <activity
      android:name=".abdroid_base_materials.viewPager.ViewPagerActivity"
      android:label="ViewPager" />
    <activity
      android:name=".abdroid_base_materials.AndroidBaseActivity"
      android:label="Android Base" />
    <activity
      android:name=".abdroid_base_materials.handler.HandlerActivity"
      android:label="Handler" />
    <activity
      android:name=".abdroid_base_materials.sqlite.AddEditNoteActivity"
      android:label="Sqlite AddEditActivity" />
    <activity
      android:name=".abdroid_base_materials.sqlite.SqliteActivity"
      android:label="Sqlite tutorial" />
    <activity
      android:name=".rx.rx_form_validation.ReactiveFormValidationActivity"
      android:label="Reative Form Validation" />
    <activity
      android:name=".abdroid_base_materials.retrofit.RetrofitActivity"
      android:label="Retrofit intro" />
    <activity
      android:name=".udemy.services.background_services_demo.BackgroundServiceActivity"
      android:label="Background Services" />
    <activity
      android:name=".udemy.UdemyDispatchigActivity"
      android:label="Udemy" />
    <activity
      android:name=".udemy.services.intent_service.IntentServiceActivity"
      android:label="Intent Service" />
    <activity android:name=".rx.rx_kotlin.RxKotlinActivity" />
    <activity android:name=".rx.reactive_programming_operators.ReactiveProgrammingOperatorsActivity" />

    <receiver android:name=".udemy.services.intent_service.MyBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <service
      android:name=".udemy.services.background_services_demo.MyBackgroundService"
      android:exported="false" />
    <service
      android:name=".udemy.services.intent_service.MyIntentService"
      android:exported="false" />
    <service
      android:name=".udemy.services.job_intent_service.MyJobIntentService"
      android:exported="false"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>

</manifest>