<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.babenkovladimir.composite_application_x">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".application.App"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="Sutviving Presenter Kotlin"
      android:name=".mvp.mvp_keeping_presenters_alive_kotlin.SurvivingPresenterActivity"/>
    <activity
      android:label="Surviving Presenter Java"
      android:name=".mvp.mvp_keeping_presenters_alive_java.IntroActivity"/>
    <activity
      android:label="MVP Navigating"
      android:name=".mvp.MvpNavigatingActivity"/>
    <activity
      android:label="EarthQuakerExample"
      android:name=".rx.Rx_MVP_Retrofit_EarthQuake_Example.view.EarthQuakerActivity"/>
    <activity
      android:label="Rx Navigating"
      android:name=".rx.RxNavigatingActivity"/>

    <activity
      android:label="Moxy X"
      android:name=".mvp.moxy_x_implementation.moxyx.MoxyxActivityKotlin"/>

    <activity
      android:label="Rx Repository Pattern"
      android:name="com.babenkovladimir.composite_application_x.rx.rx_repository.view.RxRepositoryActivity"/>

  </application>

</manifest>